.DS_Store
.idea
.vscode
.cache
app/authorized_keys
cmd/hop/hop
cmd/hopd/hopd
cmd/hop-keygen/hop-keygen
cmd/remotePF/remotePF
cmd/log.txt
wireshark/lib*
containers/delegate_proxy_server/hop
containers/*/hop
containers/hop
