name: hop-servers

networks:
  default:
    driver: bridge
    
services:

  # Base image for other containers
  hopd-dev:
    build:
      tags: 
        - hopd-dev
      context: ..
      dockerfile: ./containers/hopd-dev.dockerfile
    
  # Basic server for hopping into
  hop-server:
    image: hopd-dev
    command: hopd -V
    hostname: example.com
    ports:
      - "7777:77/udp"
    volumes:
      - ./CAFiles/root.cert:/etc/hopd/root.cert
      - ./CAFiles/intermediate.cert:/etc/hopd/intermediate.cert
      - ./id_server.pem:/etc/hopd/id_hop.pem
      - ./id_server.pub:/etc/hopd/id_hop.pub
      - ./id_server.cert:/etc/hopd/id_hop.cert
      - ./kem_hop.pem:/etc/hopd/kem_hop.pem
      - ./server_dev_config.toml:/etc/hopd/config.toml
      - ./id_client.pub:/home/user/.hop/authorized_keys

  delegate:
    image: hopd-dev
    command: hopd -V
    ports:
      - "8888:77/udp"
    networks:
      default:
        aliases:
          - delegate.com
    hostname: delegate.com
    volumes:
      - ./CAFiles/root.cert:/etc/hopd/root.cert
      - ./CAFiles/root.cert:/home/user/.hop/root.cert
      - ./CAFiles/intermediate.cert:/etc/hopd/intermediate.cert
      - ./CAFiles/intermediate.cert:/home/user/.hop/intermediate.cert

      - ./delegate_proxy_server/id_server.pem:/etc/hopd/id_hop.pem
      - ./delegate_proxy_server/id_server.pub:/etc/hopd/id_hop.pub
      - ./delegate_proxy_server/id_server.cert:/etc/hopd/id_hop.cert
      - ./delegate_proxy_server/kem_hop.pem:/etc/hopd/kem_hop.pem
      - ./delegate_proxy_server/delegate_proxy_server_config.toml:/etc/hopd/config.toml

      - ./delegate_client/delegate_config.toml:/home/user/.hop/config.toml
      # using certs for authentication, but authorized keys for user authorization still
      - ./principal_client/id_client.pub:/home/user/.hop/authorized_keys

  target:
    image: hopd-dev
    command: hopd -V
    ports:
      - "9999:77/udp"
    networks:
      default:
        aliases:
          - target.com
    hostname: target.com
    volumes:
      - ./CAFiles/root.cert:/etc/hopd/root.cert
      - ./CAFiles/root.cert:/home/user/.hop/root.cert
      - ./CAFiles/intermediate.cert:/etc/hopd/intermediate.cert
      - ./CAFiles/intermediate.cert:/home/user/.hop/intermediate.cert

      - ./target_server/id_server.pem:/etc/hopd/id_hop.pem
      - ./target_server/id_server.pub:/etc/hopd/id_hop.pub
      - ./target_server/id_server.cert:/etc/hopd/id_hop.cert
      - ./target_server/kem_hop.pem:/etc/hopd/kem_hop.pem
      - ./target_server/target_server_config.toml:/etc/hopd/config.toml

      # using certs for authentication, but authorized keys for user authorization still
      - ./principal_client/id_client.pub:/home/user/.hop/authorized_keys
      - ./delegate_client/delegate_config.toml:/home/user/.hop/config.toml

  third:
    image: hopd-dev
    command: hopd -V
    ports:
      - "6666:77/udp"
    networks:
      default:
        aliases:
          - third.com
    hostname: third.com
    volumes:
      - ./CAFiles/root.cert:/etc/hopd/root.cert
      - ./CAFiles/intermediate.cert:/etc/hopd/intermediate.cert
      - ./third_server/id_server.pem:/etc/hopd/id_hop.pem

      - ./third_server/id_server.pub:/etc/hopd/id_hop.pub
      - ./third_server/id_server.cert:/etc/hopd/id_hop.cert
      - ./third_server/kem_hop.pem:/etc/hopd/kem_hop.pem
      - ./third_server/third_server_config.toml:/etc/hopd/config.toml

      - ./principal_client/id_client.pub:/home/user/.hop/authorized_keys

      - ./hop:/root/hop
      - ./CAFiles/root.cert:/home/user/.hop/root.cert
      - ./CAFiles/intermediate.cert:/home/user/.hop/intermediate.cert

  hop-server-hidden:
    image: hopd-dev
    command: hopd -V
    ports:
      - "5555:77/udp"
    networks:
      default:
        aliases:
          - hidden.com
    hostname: hidden.com
    volumes:
      - ./CAFiles/root.cert:/etc/hopd/root.cert
      - ./CAFiles/intermediate.cert:/etc/hopd/intermediate.cert
      - ./hidden_server/id_server.pem:/etc/hopd/id_hop.pem

      - ./hidden_server/id_server.pub:/etc/hopd/id_hop.pub
      - ./hidden_server/id_server.cert:/etc/hopd/id_hop.cert
      - ./hidden_server/kem_hop.pem:/etc/hopd/kem_hop.pem
      - ./hidden_server/hidden_server_config.toml:/etc/hopd/config.toml

      - ./hidden_server/id_client.pub:/home/user/.hop/authorized_keys

      - ./hop:/root/hop
      - ./CAFiles/root.cert:/home/user/.hop/root.cert
      - ./CAFiles/intermediate.cert:/home/user/.hop/intermediate.cert

  # Providing a port forwarding test environment
  pf_service:
    image: python:3.9-slim
    container_name: pf_service
    command: python -m http.server 8080 --bind 0.0.0.0
    ports:
      - "8080:8080"
    networks:
      default:
        aliases:
          - pf-service.com
    hostname: pf-service.com

