services:
  hopd-dev:
    build:
      tags: [hopd-dev]
      context: ..
      dockerfile: ./containers/hopd-dev.dockerfile
    
  hop-server:
    image: hopd-dev
    command: /app/hopd -V -C /etc/hopd/config.toml
    ports:
      - "7777:77/udp"
    volumes:
      - ./CAFiles/root.cert:/etc/hopd/root.cert
      - ./CAFiles/intermediate.cert:/etc/hopd/intermediate.cert
      - ./id_server.pem:/etc/hopd/id_hop.pem
      - ./id_server.pub:/etc/hopd/id_hop.pub
      - ./id_server.cert:/etc/hopd/id_hop.cert
      - ./server_dev_config:/etc/hopd/config.toml
      - ./id_client.pub:/root/.hop/authorized_keys

