name: Presubmit
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  test:
    runs-on: ubuntu-latest
    name: Test
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - name: Check out code into the Go module directory
        uses: actions/checkout@v3
      - name: build
        run: make build
      - name: lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.50
      - name: test
        run: make test
